<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Book</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-5">
    <h3> Add Book</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form th:action="@{/books/addBook}" th:object="${book}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label">Title</label>
                            <input type="text" th:field="*{title}" class="form-control"
                                   id="title" placeholder="Title" />
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-form-label">Status</label>
                            <select th:field="*{taken}">
                                <option th:text="Borrowed"
                                        th:value="true"
                                ></option>
                                <option th:text="Free"
                                        th:value="false"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">Writer</label>
                            <select th:field="*{writer}">
                                <option th:each="w: ${writers}"
                                        th:text="${w.name} + ' ' + ${w.lastname}"
                                        th:value="${w.id}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>

                        <input type="hidden" th:field="*{borrowingHistory}" th:value="${book.getBorrowingHistory}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>