<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Add Employee</title>
  <div th:replace="fragments :: myheader"></div>
</head>
<header>
  <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-10">
  <h3> Add Student</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <form th:action="@{/addStudent}" th:object="${student}" method="post">
          <div class="row">
            <div class="form-group col-md-8">
              <label class="col-form-label">First Name</label>
              <input type="text" th:field="*{name}" class="form-control"
                     id="firstName" placeholder="First Name" />
            </div>
            <div class="form-group col-md-8">
              <label class="col-form-label">Last Name</label>
              <input type="text" th:field="*{lastname}" class="form-control"
                     id="lastName" placeholder="Last Name" />
            </div>

            <div class="form-group col-md-8">
              <input type="submit" class="btn btn-primary" value="Save">
            </div>

            <input type="hidden" th:field="*{borrowedBooks}" th:value="${student.getBorrowedBooks()}">

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>