<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Book List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div align="center">
  <h1>Book List</h1>
  <p class="my-5">
    <a href="/books/add" class="btn btn-primary">
      <i class="fas fa-books-medical">Add Book</i></a>
  </p>
  <br/><br/>
  <div class="container text-center">
  <table class="table table-bordered" border="1" cellpadding="10">
    <thead class="thead-dark">
    <tr>
      <th>Book ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Writer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${listBooks}">
      <td th:text="${book.id}">Book ID</td>
      <td th:text="${book.title}">Title</td>
      <td>
        <input type="checkbox" name="mycheckbox" th:checked="${book.taken} ? 'checked'">
      </td>
      <td th:text="${book.getWriter()}">Writer</td>
      <td>
        <a th:ref="@{/changebookstatus/{title}/{status}(title=${book.title}, status=${book.taken})}"
           class="btn btn-primary">
          <i class="fas fa-user-edit ml-2"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>