<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-5">
    <h3>Student List</h3>
    <div class="card">
        <div class="card-body">
    <p class="my-3">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add Student</i></a>
    </p>
    <br/><br/>
    <div class="container text-center">
    <table class="table table-bordered" border="1" cellpadding="10">
        <thead class="thead-dark">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${listStudents}">
            <td th:text="${student.id}">Student ID</td>
            <td th:text="${student.name}">Name</td>
            <td th:text="${student.lastname}">Last Name</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#_modals">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <a class="btn btn-danger" id="deleteButton">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                </a>

                <!-- modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label class="col-form-label">Are you sure you want to delete a student's data?</label>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-primary" id="delRef">Yes</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeRef">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>

<!--
    <p class="my-5">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add Student</i></a>
    </p>
-->