<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-5">
    <h3>Student List</h3>
    <div class="card">
        <div class="card-body">
    <p class="mt-3 ml-3">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-appUser-plus ml-2"> Add Student</i></a>
    </p>
    <br/><br/>
    <div class="my-3 ml-3">
        <form th:action="@{/students}" method="get">
            <input id="txtSearch" type="text" name="keyword">
            <button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="container text-center">
    <table class="table table-bordered" border="1" cellpadding="10">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${listStudents}">
            <td th:text="${student.name}">Name</td>
            <td th:text="${student.lastname}">Last Name</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#edit'+${student.id}">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </button>

                <!-- modal for edit student details-->
                <div class="modal fade" th:id="'edit' + ${student.id}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Student Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#" th:action="@{/editStudent/{id}(id=${student.id})}" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" th:value ="${student.name}" class="form-control" placeholder="First Name" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" th:value="${student.lastname}" class="form-control" placeholder="Last Name" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Already borrowed books:</label>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="borrowedbook: ${student.getBorrowedBooks()}"
                                            th:text="${borrowedbook.title} + ', ' + ${borrowedbook.writer.getLastname()}"
                                            th:value="${borrowedbook.id}"></li>
                                        <li class="list-group-item"></li>
                                    </ul>
                                </div>
                                    <div class="form-group">
                                        <label>Choose book to borrow:</label>
                                        <select name="book">
                                            <option th:each="b: ${books}"
                                                    th:value="${b.id}"
                                                    th:text="${b.title} + ', ' + ${b.writer.getName()} + ' ' + ${b.writer.getLastname()}"></option>
                                        </select>
                                        <p class="mt-3 ml-3">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </p>
                                    </div>

                            </div>
                            </form>
                            <div class="modal-footer">
                                <a class="btn btn-primary" id="saveEditModal">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#delete'+${student.id}">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                </button>

                <!-- modal for delete student-->
                <div class="modal fade" th:id="'delete' + ${student.id}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label class="col-form-label">Are you sure you want to delete a student's data?</label>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-primary" id="delRef">Yes</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeRef">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>

<!--
    <p class="my-5">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-appUser-plus ml-2"> Add Student</i></a>
    </p>
-->