<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-5">
    <h3>Student List</h3>
    <div class="card">
        <div class="card-body">
    <p class="mt-3 ml-3">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add Student</i></a>
    </p>
    <br/><br/>
    <div class="my-3 ml-3">
        <form th:action="@{/students}" method="get">
            <input id="txtSearch" type="text" name="keyword">
            <button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="container text-center">
    <table class="table table-bordered" border="1" cellpadding="10">
        <thead class="thead-dark">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${listStudents}">
            <td th:text="${student.id}">Student ID</td>
            <td th:text="${student.name}">Name</td>
            <td th:text="${student.lastname}">Last Name</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStudentModal">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </button>

                <!-- modal for edit student details-->
                <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Student Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nameInput">First Name</label>
                                    <input type="text" th:value ="${student.name}" class="form-control" id="nameInput" placeholder="First Name" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="lastnameInput">Last Name</label>
                                    <input type="text" th:value="${student.lastname}" class="form-control" id="lastnameInput" placeholder="Last Name" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Already borrowed books:</label>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="borrowedbook: ${student.getBorrowedBooks()}"
                                            th:text="${borrowedbook.title} + ', ' + ${borrowedbook.writer.getName()}"
                                            th:value="${borrowedbook.id}"></li>
                                        <li class="list-group-item"></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="borrowBookSelect">Choose book to borrow:</label>
                                    <select class="form-control" id="borrowBookSelect">
                                        <option th:each="book: ${books}"
                                                th:text="${book.title} + ', ' + ${book.writer.getName()} + ' ' + ${book.writer.getLastname()}"
                                                th:value="${book.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/editStudent/1/{id}(id=${student.id})}" class="btn btn-primary" id="saveEditModal">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-danger" id="deleteButton">
                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                </a>

                <!-- modal for delete student-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Warning</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label class="col-form-label">Are you sure you want to delete a student's data?</label>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-primary" id="delRef">Yes</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeRef">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>

<!--
    <p class="my-5">
        <a href="/add" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add Student</i></a>
    </p>
-->