<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>e-Library</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Student e-Library</h1>
        <p class="lead">The aim of the e-library is to serve as
            digital collection of the scholarly literature for
            students of undergraduate study programmes.</p>
        <h4>Please choose your option below:</h4>
        <a href="/books/allBooks">Book overview</a> |
        <a href="/students">Student overview</a>
    </div>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>