<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>e-Library</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<header>
    <div th:insert="fragments :: menu"></div>
</header>
<body>
<div class="container my-5">
    <h3>Student e-Library</h3>
    <p>Please choose your option below:</p>
</div>
<footer>
    <a href="/books/allBooks">Book overview</a> |
    <a href="/students">Student overview</a>
</footer>
<div th:insert="fragments :: footer"></div>
</body>
</html>










<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div><h1>Welcome to e-Library.</h1></div>
    <div><h2>Please choose your option below:</h2></div>
    <div class="p-2">
        <a class="h3" th:href="@{/books/allBooks}">Book overview</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/students}">Student overview</a>
    </div>
</div>
<script src="js/script.js"></script>
</body>
</html> -->