<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login e-Library</title>
    <div th:replace="fragments :: myheader"></div>
</head>
<body>
<div class="container my-5 text-center">
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>Access to e-Library</p>
            <p>
                <input type="email" name="email" value="" class="form-control" placeholder="Email" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox"/>&nbsp;Remember Me</p>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <br/>
            <div class="col-xs-4">
                <a th:href="@{/register}" class="link-primary">You dont have an account? Register here.</a>
            </div>
        </div>
    </form>
</div>
<div th:insert="fragments :: footer"></div>
</body>
</html>